.erro {
	color: red;
	display: none;
}

.spinner {
	display: none;
}

.espacoFrase {
	min-height: 140px;
}

body {
	overflow: scroll;
}

nav {
	background: #cc99ff;
	width: 100%;
}

.container {
	width:80%;
}

.tabuleiro {
   position: relative;
}

.tabuleiro:after {
    content : "";
    display: block;
    position: absolute;
   background: url('../img/typeBack.jpg') no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
}

.after {
   padding: 0px 0;
	width: 100%;
	height: 100%;
	background-color: rgba(204, 238, 255,0.9);
}

.card {
	margin-top: 20px
}

.card .card-content {
	padding-bottom: 0;
}

.card .card-image .card-title {
  color: #4a148c;
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 0;
  font-weight: bold;
}

.botoes {
	margin-top: 0px;
}

#frase {
	margin-top: 20px;
}

#frase, #campoDigitacao {
  font-size: 20px;
}

#botaoSync {

}

#campoDigitacao {
  min-height: 120px;
  background: #ede7f6;
}

.material-icons {
  vertical-align: middle;
}

/* classes de uso do jquery*/
.fimJogo {
  background: #bdbdbd;
}

.digitoCorreto {
  border: 3px solid green;
}

.digitoErrado {
  border: 3px solid red;
}

.placar {
	display: none;
}

#frase_id {
	color: #4a148c;
	width: 60px;
	font-size: 20px;
	text-align: center;
}

#usuarios {
	font-size: 25px;
	display: inline-block;
}

/**	PARALLAX do Materialize   */

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/**	PARALLAX do Materialize   */
